In [41]:
import pandas as pd
import numpy as np
ds=pd.read_csv("aumpg.csv")
ds

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [42]:
ds.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [43]:
ds.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [44]:
ds.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [45]:
hp = pd.DataFrame(ds.horsepower.str.isdigit())     
ds[hp['horsepower'] == False]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl

In [46]:
ds= ds.replace('?', np.nan)
ds[hp['horsepower'] == False]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
32,25.0,4,98.0,NaN,2046,19.0,71,1,ford pinto
126,21.0,6,200.0,NaN,2875,17.0,74,1,ford maverick
330,40.9,4,85.0,NaN,1835,17.3,80,2,renault lecar deluxe
336,23.6,4,140.0,NaN,2905,14.3,80,1,ford mustang cobra
354,34.5,4,100.0,NaN,2320,15.8,81,2,renault 18i
374,23.0,4,151.0,NaN,3035,20.5,82,1,amc concord dl

In [47]:
ds.median()

C:\Users\ML Lab\AppData\Local\Temp\ipykernel_13016\1368767175.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ds.median()

mpg               23.0
cylinders          4.0
displacement     148.5
horsepower        93.5
weight          2803.5
acceleration      15.5
model year        76.0
origin             1.0
dtype: float64

In [48]:
ds = ds.fillna(ds.median())

C:\Users\ML Lab\AppData\Local\Temp\ipykernel_13016\117053893.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ds = ds.fillna(ds.median())

In [49]:
ds['horsepower'] = ds['horsepower'].astype('float64')  
ds.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino

In [50]:
ds.

In [51]:
ds.boxplot(column =['cylinders'], grid = False)

In [14]:
ds.boxplot(column =['displacement'], grid = False)

In [15]:
ds.boxplot(column =['horsepower'], grid = False)

In [16]:
ds.boxplot(column =['weight'], grid = False)

In [17]:
ds.boxplot(column =['acceleration'], grid = False)

In [18]:
ds.boxplot(column =['model year'], grid = False)

In [19]:
ds.boxplot(column =['origin'], grid = False)

In [20]:
plt.scatter(ds.mpg,ds.cylinders)

NameError: name 'plt' is not defined

In [21]:
plt.scatter(ds.displacement,ds.horsepower)

NameError: name 'plt' is not defined

In [22]:
plt.scatter(ds.acceleration,ds.weight)

NameError: name 'plt' is not defined

In [23]:
ds['mpg'].hist(bins = 2,color = 'red')

In [24]:
ds['cylinders'].hist(bins = 5,color = 'red')

In [25]:
ds['displacement'].hist(bins = 5,color = 'red')

In [26]:
ds['horsepower'].hist(bins = 5,color = 'red')

In [27]:
ds['weight'].hist(bins = 5,color = 'red')

In [28]:
ds['acceleration'].hist(bins = 5,color = 'red')

In [29]:
ds['model year'].hist(bins = 5,color = 'red')

In [30]:
ds['origin'].hist(bins = 5,color = 'red')